body {
    -webkit-touch-callout: none;
    -webkit-text-size-adjust: none;
    -webkit-user-select: none;
    background-color: #fff;
    font-family: 'RobotoRegular', 'Droid Sans', 'Segoe UI', Segoe, 'San Francisco', 'Helvetica Neue', Helvetica, Arial, Geneva, sans-serif;
    font-size: 12px;
}

.header {
    font-size: 21px;
    font-weight: bold;
    /*padding-left: 12px;*/
    float:left;
    padding-top: 10px;
    color:#337ab7;
    height:7vh;
}

#listButton
{
    position: absolute;
    bottom: 20px;
    left: 40%;
}

hr{
    margin-top:0px;
    margin-bottom:0px;
}

@media screen and (orientation: portrait) {
}

@media screen and (orientation: landscape) {
}
