.form-container{
    padding: 40px 30px 0px 30px;
}

form
{
    margin-top:45px;
}

.warning
{
    padding-bottom:15px;
    color:#a94442;
}

.footer{
    bottom: 20px;
    position: fixed;
    width: 100vw;
    text-align: center;
    font-size: 15px;
    color: #286090;
}

@media screen and (orientation: portrait) {
}

@media screen and (orientation: landscape) {
}
