.form-container{
    padding: 60px 30px 75px 30px;
}

form
{
    margin-top:50px;
}

.footer{
    bottom: 20px;
    position: fixed;
    width: 100vw;
    text-align: center;
    font-size: 15px;
    color: #286090;
}

@media screen and (orientation: portrait) {
}

@media screen and (orientation: landscape) {
}
