html, body {
  height: 100%;
}

.navbar-toggle {
  float: left;
  margin-left: 15px;
}

.navmenu {
  z-index: 1;
}

.canvas {
  position: relative;
  left: 0;
  z-index: 2;
  min-height: 100%;
  padding: 50px 0 0 0;
  background: #fff;
}

.navbar {
    right: 0; /*right: auto;*/ 
    background: none;
    border: none;
  }

@media (min-width: 0) {
  .navbar-toggle {
    display: block; /* force showing the toggle */
  }
}

/*@media (min-width: 500px) {
  body {
    padding: 0;
  }*/
  
}